.button-quiz {
  display: block;
  width: 150px;
  height: 50px;
  background: linear-gradient(90deg, #7e55b3 -0.37%, #a769c4 100.37%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  border: none;
  color: white;
}

.button-quiz:disabled {
  background: linear-gradient(90deg, #808080 -0.37%, #656565 100.37%);
  border-radius: 5px;
}
