html,
body {
  height: 100%;
  width:100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background:
    /* radial-gradient(32.48% 31.5% at 50% 50%, #F54B4B 0%, rgba(255, 69, 69, 0) 100%),
    radial-gradient(32.48% 31.5% at 50% 50%, #4BAEF5 0%, rgba(69, 166, 255, 0) 100%),
    radial-gradient(32.48% 31.5% at 50% 50%, #F2F54B 0%, rgba(255, 236, 69, 0) 100%),  */
    radial-gradient(circle at 50% 100%,
    rgba(75, 174, 245, 0.3),
    rgba(69, 166, 255, 0) 20%),
      radial-gradient(circle at 6.7% 75%,
        rgba(245, 75, 75, 0.3),
        rgba(255, 69, 69, 0) 20%),
      radial-gradient(circle at 93.3% 75%,
        rgba(242, 245, 75, 0.3),
        rgba(255, 236, 69, 0) 20%), #12131E;
    overflow: hidden;
}

.logo-center {
  text-align: center;
  display: block;
  margin-bottom: 50px;
}

.container{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
}

.wrapper{
  display: block;
  width: 100vw;
  height: 100vh;
}

.form-container {
  background: #1B1D31;
  margin: 0 auto;
  color: #FFFFFF;
  padding: 80px 0;
  text-align: center;
  position: relative;
}

.header-text {
  text-align: center;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  margin: 5px;
}

.header-label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: rgb(156 163 175)
}

.hidden{
  display: none;
}


@media (max-width: 426px) {
  .header-label{
    font-size: 14px;
  }
}

@media (max-width: 376px) {
  .container{
    width: 100%;
  }

}
